* {
	box-sizing: border-box;
	font-family: 'Courier New', Courier, monospace;
	background-color:#ffebcd;
	color: #333333;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
	margin: 2em 4em
}

.credits {
	font-size: 0.8em;
	margin-top: 0;
}

h1 {
	font-size: 3em;
}

h2 {
	margin: 2.2em 0 1em;
}

.recipes {
	list-style: none;
	padding-left: 0;
}

.recipes li {
	font-size: 1.4em;
	margin: 1em 0;
	padding: 0;
}

a:hover {
	color: #5f9ea0;
}